 /* wallust template - colors-rofi */


* {
    foreground: #DFF0DC;
    foreground-darker-30-a30: #9CA89A4D;
    foreground-darker-70-a30: #4348424D;

    main-color: #605C70;
    main-color-a30: #605C704D;
    main-color-a80: #605C70CC;

    main-color-darker-30: #43404E;
    main-color-darker-70: #1D1C22;

    second-color: #918D8A;
    second-color-a30: #918D8A4D;

    second-color-darker-30: #666361;
    second-color-darker-70: #2C2A29;
}
