*{
  font-family: "LigaSFMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 12px;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.1;
}

#window {
  color: #64727d;
}

tooltip {
  border-radius: 10px;
  padding: 15px;
  background-color: #1f232b;
}

tooltip label {
  padding: 5px;
}

/*-----module groups----*/
/* .modules-right { */
/*     background-color: rgba(0, 0, 0, 0.6); */
/*     border: 0px solid #b4befe; */
/*     border-radius: 10px; */
/* } */

/* .modules-center { */
/*     background-color: rgba(0, 0, 0, 0.6); */
/*     border: 0px solid #b4befe; */
/*     border-radius: 10px; */
/* } */

/* .modules-left { */
/*     background-color: rgba(0, 0, 0, 0.6); */
/*     border: 0px solid #b4befe; */
/*     border-radius: 10px; */
/*     */
/* } */

#workspaces button {
    padding: 2px;
    color: #6E6A86;
    margin-right: 5px;
}

#workspaces button.active {
  color: #ffffff;
  border-radius: 10px;
}

#workspaces button.focused {
    color: #d8dee9;
}

#workspaces button.urgent {
    color: #FFAC1C;
    border-radius: 10px;
}

#workspaces button:hover {
    color: #9CCFD8;
    border-radius: 10px;
}

#language,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#pulseaudio,
#backlight,
#window,
#taskbar,
#taskbar button,
#workspaces,
#custom-light_dark,
#custom-launcher,
#custom-cycle_wall,
#custom-power,
#custom-power,
#custom-lock,
#connection,
#utilities,
#idle_inhibitor {
  color: #ffffff;
  border-radius: 10px;
  padding: 2px 10px;
  background-color: #1e1e32;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#custom-launcher {
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#custom-power {
  color: #ff6347;
  padding-left: 12px;
  padding-right: 15px;
}

#custom-lock {
  color: #ABE1FA;
  padding-left: 13px;
  padding-right: 13px;
}

/* This controls the css of the whole group/media */
#media {
  color: #ffffff;
  border: none;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px;
}


#custom-media-previous,
#custom-media-play-pause,
#custom-media-next {
  background-color: #1e3232;
  font-size: 22px;
  padding: 0px 10px 0px 0px;
}


#custom-media-next {
  border-radius: 0px 10px 10px 0px;
  padding: 0px 15px 0px 0px;
}

#custom-media {
  background-color: #1e3232;
  padding: 0px 20px 0px 10px;
  border-radius: 10px 0px 0px 10px;
}

#custom-utility {
  font-size: 18px;
  padding: 0px 2px 0px 00px;
}

#custom-wlsunset,
#custom-change_wallpaper,
#custom-toggle_dark_light_theme {
  font-size: 18px;
  /* padding: 0px 10px 0px 00px; */
  margin: 0px 10px 0px 00px;
}

#custom-wlsunset {
  font-size: 18px;
  padding: 0px 10px 0px 00px;
}

#cpu {
  color: #e4bff2;
}

#pulseaudio {
  color: #70e6c2;
}

#pulseaudio.microphone {
  color: #ffc0cb;
}

#network {
  color: #fff8ce;
  /* To have some space between this and the bluetooth. */
  margin-right: 10px;
  font-size: 18px;
}


#bluetooth {
  font-size: 18px;
}


#memory {
  color: #ffd988;
}

#temperature.critical {
  background-color: #ff0000;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#taskbar button.active {
  background-color: #7f849c;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
